<!-- AEM ClientLib template helper -->
<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"
     data-sly-call="${clientlib.css @ categories='teaser.custom'}"
     data-sly-use.linkTemplate="link.html"
     data-sly-use.headerTemplate="header.html"/>
     
<sly data-sly-use.teaser="${'com.aem.local.site.core.models.Teaser' @ currentPage=currentPage}" />

<div class="cmp-container">
	<main class="container">
			<!-- Teaser Banner -->
			<section class="teaser-banner">
			<img 
				class="teaser-bg-image"
				src="${teaser.backgroundImage}" 
				alt="Aerial shot of waves breaking on sandy beach"
			/>
			<div class="teaser-overlay"></div>
			
			 <sly data-sly-call="${headerTemplate.header @ teaser=teaser}"></sly>

			<!-- Main Banner Content -->
			<div class="teaser-content">
				<h1 data-sly-test="${teaser.title}" class="teaser-title">${teaser.title}</h1>
				<sly data-sly-call="${linkTemplate.link @ teaser=teaser}"></sly>
			</div>

		</section>

	</main>
</div>